@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.dark {
  background-color: #080808 !important;
  color: #ffffff !important;
}

.light {
  background-color: #ffffff !important;
  color: #292929 !important;
}

.dark .bg-sm {
  background: #080808;
  color: white;
}

.bg-sm {
  color: #080808;
  background: white;
}

.dark button {
  background: radial-gradient(#3b3939, #000000) !important;
  border: 1px solid #ffffff !important;
}
.dark .anchor {
  background: radial-gradient(#3b3939, #000000) !important;
  border: 1px solid #ffffff !important;
}
.dark .lamp {
  background: #fff !important;
  box-shadow: rgb(255 255 255 / 56%) 0px 1px 20px 7px !important;
}

.dark .text-dark-white {
  color: #fff !important;
}

.light .lamp {
  color: #ff7d12 !important;
}

.dark .hero-dark {
  box-shadow: none !important;
}

.dark .hero-dark .dark-bg {
  background: none !important;
}

* {
  font-family: urbanist, sans-serif;
}

button,
a {
  cursor: pointer;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.1s ease;
}
button:active {
  background: #ff6000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.1s ease;
}
.anchor:active {
  background: #ff6000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.1s ease;
}
.anchor:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.1s ease;
}
.theme-toggle:active {
  background: #ff6000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.1s ease;
}
.dark .theme-toggle:active {
  background: black !important;
  border: 1px solid #414040 !important;
}
.dark button:active {
  background: black !important;
  border: 1px solid #414040 !important;
}
.dark .anchor:active {
  background: black !important;
  border: 1px solid #414040 !important;
}
input[type="email"]:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(159, 159, 159, 0) inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: vertical;
}

.dark .heading-dark {
  color: #ffffff;
}

.dark .bullet-dark {
  background: #00000033 !important;
  color: #ffffff;
}

.dark .description-detail {
  color: #fff !important;
}
.cursor {
  cursor: pointer;
}

.z-index-100 {
  z-index: 100;
}
.dark .digitalbgsmall {
  /* background-image: url("/assets/digitalbgsmall-dark.png") !important; */
  background-size: 120% !important;
  background-position: bottom !important;

}
.dark .tellusbg {
  background-image: url("/assets/tellusaboutbg-dark.png") !important;
}
.dark .email {
  color: #ffffff;
}
.dark input[type="email"]:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(159, 159, 159, 0) inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
.light .toggle-gredient {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40px;
  pointer-events: none;
  z-index: 50;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  ) !important;
}
.dark .toggle-gredient {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  ) !important;
}

.service-border {
  border-color: black;
  border-width: 1px;
}
.dark .service-border {
  border-color: rgba(255, 255, 255, 0.322);
  border-width: 1px;
}

.card-bg {
  background: white;
}
.dark .card-bg {
  background: #0f0f0f;
}
