---
import { InfiniteSlider } from "./MotionPrimitivesComponents/infinite-slider";
---

<div
  class="flex !bg-transparent px-[80px] light gap-9 py-[72px] overflow-y-hidden overflow-hidden max-lg:justify-between max-lg:px-5"
>
  <InfiniteSlider
    gap={70}
    direction="horizontal"
    speed={80}
    speedOnHover={20}
    client:load
  >
    <img
      src="/assets/pepsico-light.svg"
      alt="PepsiCo Logo"
      class="toggle-image"
    />
    <img
      src="/assets/gofundme-light.svg"
      alt="GoFundMe Logo"
      class="toggle-image"
    />
    <img
      src="/assets/chipotle-light.svg"
      alt="Chipotle Logo"
      class="toggle-image"
    />
    <img
      src="/assets/washingtonuniversity-light.svg"
      alt="Washington Logo"
      class="toggle-image"
    />
    <img src="/assets/delta-light.svg" alt="Delta Logo" class="toggle-image" />
  </InfiniteSlider>
</div>
