---
import { MiddleBanner } from './Animation/MiddleBanner/MiddleBanner';
import TexteffectAnimation from './TextEffectAnimation.jsx';
---

<div class="relative overflow-x-clip">
	<MiddleBanner client:load />
  <div
    class="container mx-auto py-[80px] px-[72px] flex flex-col gap-[40px] max-lg:gap-[200px] justify-between h-full max-lg:px-3 max-lg:!py-2 digitalbg-small"
  >
    <div
      class="flex flex-col items-start max-lg:ml-[16px]"
      id="render-animation"
    >
      <TexteffectAnimation
        client:load
        Text="We build engaging online environments for "
        Component="DigitalJourney"
        Classes="text-4xl font-normal leading-[135%] text-[#292929] max-lg:text-2xl heading-dark"
      />
      <br class="max-lg:hidden" />
      <TexteffectAnimation
        client:load
        Text="businesses, forging their identity and enhancing "
        Component="DigitalJourney"
        Classes="text-4xl font-normal leading-[135%] text-[#292929] max-lg:text-2xl heading-dark"
      />
      <br class="max-lg:hidden" />
      <TexteffectAnimation
        client:load
        Text=" digital achievement. "
        Component="DigitalJourney"
        Classes="text-4xl font-normal leading-[135%] text-[#292929] max-lg:text-2xl heading-dark"
      />
      <button
        class="mt-[40px] bg-[#FF7D12] text-[#F7F7F7] text-[18px] flex justify-center items-center whitespace-nowrap rounded-lg px-[24px] py-[16px] max-lg:py-2 max-lg:px-4"
      >
        Start Your Project
        <img
          src="assets/arrowupright-light.svg"
          alt="Arrow"
          loading="lazy"
          id="headerArrowUp"
          class="object-cover object-center w-[24px] h-[24px] inline-block ml-2 toggle-image"
        />
      </button>
    </div>
    <div class="flex justify-end items-center">
      <div class="w-[45%] flex justify-center items-center max-lg:w-full">
        <img
          src="/assets/headerlogo-dark.svg"
          alt="Logo"
          width={454}
          loading="lazy"
          class="mr-20 mt-[120px] max-lg:mr-0 max-lg:w-[80%] max-lg:pl-[10px] toggle-image"
        />
      </div>
    </div>
  </div>
</div>
