---
import { Image } from "astro:assets";
import Logo from "../../public/assets/logo-dark.svg";
import arrowwhite from "../../public/assets/arrowrightWhite.svg";
import TexteffectAnimation   from "./TextEffectAnimation.jsx";
---
<div >
    <div class=" container mx-auto py-[80px] px-[72px]  flex  flex-col gap-[40px] max-md:gap-24 justify-between h-full bg-[url(/assets/digitalBg.svg)] bg-contain bg-center  bg-no-repeat max-md:px-5 max-md:py-2">
        <div class="flex flex-col items-start " id="render-animation">
            
                <TexteffectAnimation client:load Text=" We build engaging online environments for " Component="DigitalJourney" Classes="text-4xl font-normal leading-[135%] text-[#292929] max-md:text-2xl" />
                <br>
                <TexteffectAnimation client:load Text=" businesses, forging their identity and enhancing " Component="DigitalJourney" Classes="text-4xl font-normal leading-[135%] text-[#292929] max-md:text-2xl" />
                <br>
                <TexteffectAnimation client:load Text=" digital achievement. " Component="DigitalJourney" Classes="text-4xl font-normal leading-[135%] text-[#292929] max-md:text-2xl" />
            <button class="mt-[40px] bg-[#FF7D12] flex items-center justify-center gap-2 text-lg font-bold text-white py-4 px-6 rounded-lg ">
                Start Your Project
                <Image src={arrowwhite} alt="Arrow" loading="lazy" id="headerArrowUp"/>
            </button>
        </div>
        <div class="flex justify-end items-center">
            <div class="w-[45%] flex justify-center items-center max-lg:w-full">
            <Image src={Logo} alt="Logo" width={454} loading="lazy" class="mr-20 max-lg:m-0" />
        </div>
        </div>
    </div>
</div>
