---
import ToggleTheme from "./ThemeToggle.jsx";
---

<header
  class="h-[96px] flex justify-between items-center toggle mx-auto max-lg:mx-[0px] w-full"
>
  <div class="text-2xl font-bold pl-[115px] max-lg:pl-[20px] max-lg:w-[50%]">
    <img
      src="/assets/headerlogo-light.svg"
      alt="Logo"
      width={100}
      height={100}
      loading="lazy"
      class="inline-block mr-2 w-[227px] h-[36px] max-lg:w-[50%] headerFooterLogo min-w-[200px] toggle-image"
    />
  </div>
  <nav
    class="flex justify-center items-center gap-[40px] max-lg:gap-3 text-gray-400 h-full toggle mr-[100px] max-lg:mr-[25px]"
  >
    <span
      class="nav-link max-lg:hidden cursor-pointer"
      onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';"
      >About Us</span
    >
    <span
      class="nav-link max-lg:hidden cursor-pointer"
      onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';"
      >Services</span
    >
    <span
      class="nav-link max-lg:hidden cursor-pointer"
         onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
      >Case Studies</span
    >
    <span
      class="nav-link max-lg:hidden cursor-pointer"
         onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
      >Contact</span
    >
    <div
      class="flex justify-center items-center max-lg:justify-end"
      onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';"
    >
      <span class="nav-link max-lg:hidden mx-[16] my-2 cursor-pointer">
        <img
          src="/assets/textarrowupright-light.svg"
          alt="Arrow"
          loading="lazy"
          class="object-cover object-center inline-block mr-7 toggle-image"
          id="headerArrowUp"
        />
      </span>
    </div>
    <ToggleTheme client:load />
    <span
      id="nav-bar"
      class="hidden max-lg:flex justify-between items-center w-[50%]"
    >
      <img
        src="/assets/list-light.svg"
        alt="Logo"
        width={100}
        height={100}
        loading="lazy"
        id="icon"
        class="inline-block invert h-[24px] w-[24px] toggle-image"
      />
    </span>
  </nav>
</header>
<div
  class="fixed w-[100%] right-0 top-[80px] overflow-hidden hidden z-[10000000] px-[20px] py-[24px] bg-[#00000028]"
  id="menu"
  style="height:calc(100vh)"
>
  <div class="absolute inset-0 bg-sm z-0 h-full">
    <div class="relative flex flex-col justify-between h-[85%]">
      <div
        class="w-full overflow-hidden flex flex-col gap-5 justify-start items-between z-10 px-[24px] py-[40px]"
      >
        <span
          class="font-urbanist text-[18px] font-normal leading-[150%] text-center rounded-[8px] pt-4 pb-3.5 w-full cursor-pointer"
          id="about"
             onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
        >
          About Us
        </span>
        <span
          class="font-urbanist text-[18px] font-normal leading-[150%] text-center rounded-[8px] pt-4 pb-3.5 w-full cursor-pointer"
          id="services"
             onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
        >
          Services
        </span>
        <span
          class="font-urbanist text-[18px] font-normal leading-[150%] text-center rounded-[8px] pt-4 pb-3.5 w-full cursor-pointer"
          id="caseStudies"
             onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
        >
          Case Studies
        </span>
        <span
          class="font-urbanist text-[18px] font-normal leading-[150%] text-center rounded-[8px] pt-4 pb-3.5 w-full cursor-pointer"
          id="contact"
             onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
        >
          Contact
        </span>
      </div>
      <div
        class="w-full relative flex justify-center items-center border-t-[2px] border-[#BDBDBD]"
      >
        <span
          class="nav-link cursor-pointer pt-[15px]"
          onclick="document.getElementById('techSolutionsSection').scrollIntoView({ behavior: 'smooth' });document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto';document.getElementById('menu').style.display='none';document.body.style.overflow = 'auto'; document.getElementById('icon').src=document.body.classList.contains('dark') ? '/assets/list-dark.svg' : '/assets/list-light.svg'"
        >
          <img
            src="/assets/textarrowupright-light.svg"
            alt="Arrow"
            loading="lazy"
            class="object-cover object-center block toggle-image"
            id="headerArrowUp"
          />
        </span>
      </div>
    </div>
  </div>
</div>
<script defer>
  document.getElementById("nav-bar")?.addEventListener("click", () => {
    const icon = document.getElementById("icon");
    if (icon && icon instanceof HTMLImageElement) {
        if (icon.src.includes("list-dark")) {
          icon.src = "/assets/close-dark.svg";
        } else if (icon.src.includes("list-light")) {
          icon.src = "/assets/close-light.svg";
        } else if (icon.src.includes("close-dark") || icon.src.includes("close-light")) {
          icon.src = "/assets/list-light.svg";
        }
         
    }
    const navBar = document.getElementById("menu");
    if (navBar) {
      if (navBar.style.display === "none" || navBar.style.display === "") {
        navBar.style.display = "block";
        document.body.style.overflow = "hidden";
      } else {
        navBar.style.display = "none";
        document.body.style.overflow = "auto";
      }
    }
  });
</script>
