---
import TextRollAnimation from "./TextRollAnimation.jsx";
import BannerGridBlack from "./Animation/BannerGrid/BannerGridBlack.tsx";
---

<div
  class="h-[800px] !w-full overflow-hidden shadow-[inset_0_0_100px_47px_#ffffff] max-md:h-[600px] hero-dark relative"
>
  <BannerGridBlack client:load />

  <div class="h-full bg-[#e0e0e030] dark-bg">
    <div
      class="container mx-auto flex flex-col justify-start pt-[60px] px-20 max-lg:px-[10px]"
    >
      <p
        class="bg-gradient-to-l from-white to-black bg-clip-text text-transparent text-[56px] font-bold max-lg:text-4xl max-lg:px-2"
      >
        <TextRollAnimation
          client:load
          Text="TRANSFORMING"
          component="Hero"
          classes="text-[black] text-[56px] max-lg:text-[36px] text-dark-white"
        />
        <br />
        <TextRollAnimation
          client:load
          Text="SOFTWARE IDEAS"
          component="Hero"
          classes="text-[#FF7D12] text-[56px] max-lg:text-[36px] text-dark-white"
        />
        <br />
        <TextRollAnimation
          client:load
          Text="TO EMPOWER BUSINESS INNOVATION"
          component="Hero"
          classes="text-[black] text-[56px] bg-gradient-to-l from-white to-black text-dark-white bg-clip-text max-lg:text-[36px] break-words"
        />
      </p>
      <h2
        class="pb-[190px] pt-[10px] ml-[10px] max-lg:pb-[30px] font-semibold text-[24px] max-lg:text-2xl"
      >
        Your Trusted Technology Partner
      </h2>

      <div
        class="w-full flex justify-start items-center lg:mt-[-185px] pl-2.5 z-index-100 cursor"
      >
        <a
          href="/#tellusabout"
          class="bg-[#FF7D12] mt-[85px] max-lg:ml-[0px] max-lg:mt-[0px] text-[#F7F7F7] text-[18px] flex justify-center items-center whitespace-nowrap rounded-lg px-[24px] py-[16px] max-lg:py-2 max-lg:px-4 btn-dark"
        >
          <span>Start Your Project</span>
          <img
            src="/assets/arrowupright-light.svg"
            alt="Arrow"
            loading="lazy"
            class="object-cover object-center w-[24px] h-[24px] inline-block ml-2 toggle-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
